<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liwell.cinema.mapper.CollectTaskMapper">

    <insert id="addCollectTasks" parameterType="java.util.List">
        insert into collect_task (
            source_id,
            duration,
            create_time
        ) values
        <foreach collection="collectTaskList" separator="," item="item">
            (#{item.sourceId},#{item.duration},now())
        </foreach>
    </insert>

    <select id="pageCollectTask" resultType="com.liwell.cinema.domain.vo.CollectTaskPageVO">
        select
            ct.id,
            ct.source_id sourceId,
            sc.name sourceName,
            ct.duration duration,
            ct.create_time createTime,
            ct.start_time startTime,
            ct.pause_time pauseTime,
            ct.stop_time stopTime,
            ct.state state,
            ct.finish_time finishTime
        from collect_task ct
        left join source_config sc
        on ct.source_id=sc.id
        <where>
            <if test="state!=null">
                and ct.state=#{state}
            </if>
            <if test="sourceId!=null">
                and ct.source_id=#{sourceId}
            </if>
            <if test="startTime!=null">
                and ct.create_time>=#{startTime}
            </if>
            <if test="endTime!=null">
                and ct.create_time&lt;=#{endTime}
            </if>
        </where>
    </select>

</mapper>