<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liwell.cinema.mapper.MenuMapper">

    <select id="listUserMenu" parameterType="java.lang.Integer" resultType="com.liwell.cinema.domain.vo.MenuListVO">
        select distinct
            m.id,
            m.name menuName,
            m.code code,
            m.type type,
            m.parent_id parentId,
            m.path path,
            m.redirect redirect,
            m.icon icon,
            m.component component,
            m.layout layout,
            m.keep_alive keepAlive,
            m.mothod method,
            m.description description,
            m.display display,
            m.enable enable,
            m.sort sort
        from user_role ur
        join role_menu rm
        on ur.role_id=rm.role_id
        join menu m
        on rm.menu_id=m.id
        <where>
            ur.user_id=#{value}
        </where>
    </select>

    <select id="listMenu" resultType="com.liwell.cinema.domain.vo.MenuListVO">
        select distinct
            id,
            menu_name menuName,
            url url,
            permission permission,
            type type,
            icon icon,
            level level,
            parent_id parentId,
            sort sort
        from menu
    </select>

    <select id="getMaxSort" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        select max(sort) from menu
        <where>
            <if test="parentId==null">
                parent_id is null
            </if>
            <if test="parentId!=null">
                parent_id=#{parentId}
            </if>
        </where>
    </select>


</mapper>