<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liwell.cinema.mapper.MovieMapper">

    <insert id="insertMovies" parameterType="java.util.List">
        insert into movie
            (id,
             mv_name,
             mv_type,
             mv_area,
             mv_year,
             create_date,
             update_date,
             update_info,
             description,
             actor_list,
             director_list,
             state,
             picture,
             screen_picture,
             score)
        values 
        <foreach collection="movies" item="item" separator=",">
            (#{item.id},
             #{item.mvName},
             #{item.mvType},
             #{item.mvArea},
             #{item.mvYear},
             #{item.createDate},
             #{item.updateDate},
             #{item.updateInfo},
             #{item.description},
             #{item.actorList},
             #{item.directorList},
             1,
             #{item.picture},
             null,
             #{item.score})
        </foreach>
        on duplicate key update
            update_date=values(update_date),
            update_info=values(update_info),
            score=values(score)
    </insert>

    <select id="pageMovie" resultType="com.liwell.cinema.domain.vo.MvPageVO">
        select
            mv.id movieId,
            mv.mv_name mvName,
            mv.mv_type categoryId,
            cg.name categoryName,
            mv.mv_area mvArea,
            mv.mv_year mvYear,
            mv.create_date createDate,
            mv.update_date updateDate,
            mv.update_info updateInfo,
            mv.description description,
            mv.actor_list actorList,
            mv.director_list directorList,
            mv.state state,
            mv.picture picture,
            mv.score score
        from movie mv
        left join category cg
        on mv.mv_type=cg.id
        join role_category rc
        on mv.mv_type=rc.category_id
        <where>
            rc.role_id=#{roleId}
            <if test="mvName!=null and mvName!=''">
                and mv.mv_name like concat('%',#{mvName},'%')
            </if>
            <if test="mvType!=null">
                and mv.mv_type=#{mvType}
            </if>
            <if test="mvArea!=null">
                and mv.mv_area=#{mvArea}
            </if>
            <if test="mvYear!=null">
                and mv.mv_year=#{mvYear}
            </if>
        </where>
        order by update_date desc
    </select>

    <select id="getMovieDetail" parameterType="com.liwell.cinema.domain.dto.IdDTO" resultType="com.liwell.cinema.domain.vo.MovieDetailVO">
        select
            mv.id movieId,
            mv.mv_name mvName,
            mv.mv_type mvType,
            cg.name categoryName,
            mv.mv_area mvArea,
            mv.mv_year mvYear,
            mv.create_date createDate,
            mv.update_date updateDate,
            mv.update_info updateInfo,
            mv.description description,
            mv.actor_list actorList,
            mv.director_list directorList,
            mv.state state,
            mv.picture picture,
            mv.screen_picture scrennPicture,
            mv.score score
        from movie mv
        left join category cg
        on mv.mv_type=cg.id
        where mv.state=1 and mv.id=#{id}
    </select>

    <insert id="addOrUpdate" parameterType="com.liwell.cinema.domain.dto.MvAddDTO">
        insert into movie
            (id,
             mv_name,
             mv_type,
             mv_area,
             mv_year,
             create_date,
             update_date,
             update_info,
             description,
             actor_list,
             director_list,
             state,
             picture,
             screen_picture,
             score
        ) values
             (
              #{movieId},
              #{mvName},
              #{mvType},
              #{mvArea},
              #{mvYear},
              #{createDate},
              #{updateDate},
              #{updateInfo},
              #{description},
              #{actorList},
              #{directorList},
              #{state},
              #{picture},
              #{screenPicture},
              #{score}
             )
        on duplicate key update
             mv_name=values(mv_name),
             mv_type=values(mv_type),
             mv_area=values(mv_area),
             mv_year=values(mv_year),
             create_date=values(create_date),
             update_date=values(update_date),
             update_info=values(update_info),
             description=values(description),
             actor_list=values(actor_list),
             director_list=values(director_list),
             state=values(state),
             picture=values(picture),
             screen_picture=values(screen_picture),
             score=values(score)
    </insert>

    <select id="listNonSourceMovie" resultType="java.lang.Integer">
        select mv.id from movie mv where not exists (select 1 from playlist pl where mv.id=pl.movie_id)
    </select>

    <select id="listMvNameId" parameterType="java.util.List" resultType="com.liwell.cinema.domain.po.MvNameIdPO">
        select id, mv_name mvName from movie
        <where>
            <foreach collection="list" open="mv_name in (" close=")" item="item" separator=",">
                #{item}
            </foreach>
        </where>
    </select>

</mapper>