<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liwell.cinema.mapper.MovieMapper">

    <insert id="insertMovies" parameterType="java.util.List">
        insert into movie
            (id,
             mv_name,
             mv_type,
             mv_area,
             mv_year,
             create_time,
             update_time,
             update_info,
             description,
             actor_list,
             director_list,
             state,
             picture,
             screen_picture,
             score)
        values 
        <foreach collection="movies" item="item" separator=",">
            (#{item.id},
             #{item.mvName},
             #{item.mvType},
             #{item.mvArea},
             #{item.mvYear},
             #{item.createTime},
             #{item.updateTime},
             #{item.updateInfo},
             #{item.description},
             #{item.actorList},
             #{item.directorList},
             1,
             #{item.picture},
             null,
             #{item.score})
        </foreach>
        on duplicate key update
            update_time=values(update_time),
            update_info=values(update_info),
            score=values(score)
    </insert>

    <select id="pageMovie" resultType="com.liwell.cinema.domain.vo.MvPageVO">
        select
            mv.id movieId,
            mv.mv_name mvName,
            mv.mv_type categoryId,
            cg.name categoryName,
            mv.mv_area mvArea,
            mv.create_time createTime,
            mv.update_time updateTime,
            mv.update_info updateInfo,
            mv.actor_list actorList,
            mv.director_list directorList,
            mv.state state,
            mv.picture picture,
            mv.score score
        from movie mv
        left join category cg
        on mv.mv_type=cg.id
        <where>
            <if test="mvName!=null and mvName!=''">
                and mv.mv_name like concat('%',#{mvName},'%')
            </if>
            <if test="mvType!=null">
                and mv.mv_type=#{mvType}
            </if>
            <if test="mvArea!=null">
                and mv.mv_area=#{mvArea}
            </if>
            <if test="mvYear!=null">
                and mv.mv_year=#{mvYear}
            </if>
        </where>
    </select>

    <select id="getMovieDetail" parameterType="com.liwell.cinema.domain.dto.IdDTO" resultType="com.liwell.cinema.domain.vo.MovieDetailVO">
        select
            mv.id,
            mv.mv_name mvName,
            mv.mv_type mvType,
            cg.name mvTypeName,
            mv.mv_area mvArea,
            mv.mv_year mvYear,
            mv.update_time updateTime,
            mv.update_info updateInfo,
            mv.description description,
            mv.actor_list actorList,
            mv.director_list directorList,
            mv.picture picture,
            mv.score score
        from movie mv
        left join category cg
        on mv.mv_type=cg.id
        where mv.state=1 and mv.id=#{id}
    </select>

</mapper>