<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liwell.cinema.mapper.PlaylistMapper">

    <insert id="insertPlaylist" parameterType="java.util.List">
        insert into playlist (
            movie_id,
            source_id,
            source_movie_id,
            play_type,
            play_url,
            update_time,
            separator_note
        ) values
        <foreach collection="playlists" item="item" separator=",">
            (#{item.movieId},
             #{item.sourceId},
             #{item.sourceMovieId},
             #{item.playType},
             #{item.playUrl},
             #{item.updateTime},
             #{item.separatorNote})
        </foreach>
    </insert>

</mapper>