<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liwell.cinema.mapper.SourceConfigMapper">

    
    <select id="pageSourceConfig" resultType="com.liwell.cinema.domain.vo.SourceConfigPageVO">
        select
            id,
            source_name,
            list_url,
            detail_url,
            collect_tool,
            source_format,
            player,
            state
        from source_config
        <if test="state!=null">
            where state=#{state}
        </if>
    </select>
    
    <select id="listSimpleSc" resultType="com.liwell.cinema.domain.vo.ScListSimpleVO">
        select id, source_name sourceName from source_config
    </select>

</mapper>